header {
    width: 100%;
    background-color: #020a1f;

    h1 {
        text-align: center;
        color: #ba0abc;
        font-size: 50px;
        padding-bottom: 40px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .logo {
        margin: 0 auto;
        padding-top: 20px;
        display: block;
        width: 100%;
        max-width: 250px;
    }
}
