.show-list {
    margin-top: 50px;
    
    .shows-grid {
        display: flex;
        flex-wrap: wrap;

        .show-card {
            padding: 0 20px 20px;
            border: 3px solid #ba0abc;
            border-radius: 15px;
            width: 49%;
            margin: 0 .5% 20px;

            @media only screen and (max-width: 600px) {
                width: 90%;
                margin: 0 auto 20px;
            }

            img {
                width: 100%;
            }

            .show-dates {
                font-weight: bold;
            }
        }
    }

    .page-numbers {
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: #000;

        &.current,
        &:hover {
            color: #ba0abc;
        }
    }
}
