.single-shows {
    img {
        width: 100%;
    }

    h3 {
        margin-bottom: 0px;
    }

    .show-dates {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .book-now {
        margin-top: 20px;
    }

    .back-btn {
        display: inline-block;
        margin-top: 30px;
    }
}
